@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  display: table-cell;
  vertical-align: middle;
  background: hsl(30, 38%, 92%);
  background-size: cover;
  background-position: center;
  width: 100%;
}

.card {
  display: flex;
  margin: auto;
  width: 50%;
  background: hsl(0, 0%, 100%);
  border-radius: 16px;
}

.card .card-image {
  width: 50%;
  float: left;
}

.card .card-image img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  border-radius: 14px 0 0 14px;
  object-fit: cover;
}

.card .card-section {
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 25px;
  padding-left: 35px;
  float: right;
  padding-right: 44px;
}

p {
  font-size: 14px;
}

.text-head {
  color: hsla(212, 21%, 14%, 0.475);
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.main-head {
  font-family: "Fraunces", serif;
  font-size: 45px;
  text-transform: capitalize;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.text-para {
  color: hsla(212, 21%, 14%, 0.475);
  line-height: 23px;
  margin-bottom: 1.5rem;
  padding-right: 25px;
}

.price {
  font-weight: 700;
  font-family: "Fraunces", serif;
  font-size: 30px;
  color: hsl(158, 36%, 37%);
  letter-spacing: 1px;
}

.price sup {
  font-size: 13px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #000;
  text-decoration: line-through;
  padding-left: 15px;
}
.btn-card {
  margin-top: 2rem;
  color: #fff;
  background-color: hsl(158, 36%, 37%);
  font-size: 17px;
  width: 100%;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 9px;
}
.btn-card i {
  margin-right: 5px;
}
@media (min-width: 1440px) {
.card .card-image img {
    max-width: 100%;
    max-height: 100%;
       height: 100%!important;}}
@media (min-width: 992px) {
  .card {
    display: flex;
    margin: auto;
    width: 50%;
    background: hsl(0, 0%, 100%);
    border-radius: 16px;
  }

  .card .card-image {
    width: 50%;
    float: left;
  }

  .card .card-image img {
    max-width: 100%;
    max-height: 100%;
        height: 648px;
    display: block;
    border-radius: 14px 0 0 14px;
    object-fit: cover;
  }

  .card .card-section {
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 25px;
    padding-left: 35px;
    float: right;
    padding-right: 44px;
  }

  p {
    font-size: 14px;
  }

  .text-head {
    color: hsla(212, 21%, 14%, 0.475);
    text-transform: uppercase;
    letter-spacing: 3.2px;
  }

  .main-head {
    font-family: "Fraunces", serif;
    font-size: 45px;
    text-transform: capitalize;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .text-para {
    color: hsla(212, 21%, 14%, 0.475);
    line-height: 23px;
    margin-bottom: 1.5rem;
    padding-right: 25px;
  }

  .price {
    font-weight: 700;
    font-family: "Fraunces", serif;
    font-size: 30px;
    color: hsl(158, 36%, 37%);
    letter-spacing: 1px;
  }

  .price sup {
    font-size: 13px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #000;
    text-decoration: line-through;
    padding-left: 15px;
  }
  .btn-card {
    margin-top: 2rem;
    color: #fff;
    background-color: hsl(158, 36%, 37%);
    font-size: 17px;
    width: 100%;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 9px;
  }
  .btn-card i {
    margin-right: 5px;
  }
  .desk-hide {
    display: none !important;
  }
}

@media (max-width: 992px) {
  .mob-hide {
    display: none !important;
  }
  .card {
    margin: 0 auto;
    width: 90%;
    display: flex;
    background: hsl(0, 0%, 100%);
    border-radius: 12px;
    flex-direction: column;
  }
  .card .card-section {
    width: 100%;
    padding: 25px;
  }
  .card .card-image {
    width: 100%;
  }

  .card .card-image img {
    border-radius: 10px 10px 0 0 !important;
    width: 100%;
  }
  .main-head {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .text-head {
    font-size: 12px;
  }
  .text-para {
    padding-right: 1rem;
}
}
